.category-container {
  color: $white;
  &:not(last-child) {
    margin-bottom: 10px;
  }

  .category-header {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .category-items {
    display: none;
    padding-left: 1em;
    .category-item {
      margin-bottom: 10px;
    }
    .category-item:first-child {
      margin-top: 10px;
    }
  }

  &.is-opened > .category-items {
    display: block;
  }
}