.sidebar {
  flex: 1;
  background: $pino-green;
  color: $pino-gray;
  overflow-y: auto;
  min-width: 240px;
  max-width: 300px;
  .sidebar-content {
    padding: 15px;

    .logo-container {
      display: flex;
      align-items: flex-end;
      font-size: 1.5em;
      margin-bottom: 20px;
      .logo {
        margin-right: 10px;
      }
    }

    .navigation-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .link {
        color: $white;
        margin-bottom: 10px;
        cursor: pointer;
        &.active {
          text-decoration: underline;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.navbar-sidebar {
  height: 100%;
  z-index: 30;
  position: absolute;

  .sidebar {
    height: 100%;
  }
}