body, html {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.fill-column {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.application {

  .application-content {
    height: 100%;
    display: flex;
  }
}

.horizontal-padding, .bd-notification.horizontal-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.ace_print-margin {
  visibility: hidden !important;
}

.bd-notification {
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #7a7a7a;
  font-weight: 600;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;

  &.is-primary {
    background-color: #00d1b2;
    color: #fff;
  }
}